<h2 mat-dialog-title>Produtos - Inserindo</h2>

<mat-dialog-content>
  <div class="input-container">
    <span class="options">Grupo</span>
    <select id="opcoes" class="full-width-select" [(ngModel)]="selectedGrupo" (change)="filterSubgroup()">
      <option *ngFor="let grupo of grupos" [value]="grupo.id">{{ grupo.nome }}</option>
    </select>
  </div>
  <div class="input-container">
    <span class="options">Subgrupo</span>
    <select id="opcoes" class="full-width-select" [(ngModel)]="selectedSubgrupo">
      <option id="subgrupoSelecionado" *ngFor="let subgrupo of subgruposFiltrados" [value]="subgrupo.id">{{
        subgrupo.nome }}</option>
    </select>
  </div>
  <div class="input-container">
    <span class="options">Marca</span>
    <select id="opcoes" class="full-width-select" [(ngModel)]="selectedMarca">
      <option *ngFor="let marca of marcas" [value]="marca.id">{{ marca.nome }}</option>
    </select>
  </div>
  <div class="input-container">
    <span class="options">Unidade</span>
    <select id="opcoes" class="full-width-select" [(ngModel)]="selectedUnidade">
      <option *ngFor="let unidade of unidades" [value]="unidade.id">{{ unidade.sigla }}</option>
    </select>
  </div>
  <div class="input-container">
    <span class="name">Nome*</span>
    <input type="text" placeholder="Informe os dados para o campo Nome" name="nomeInput" [(ngModel)]="nome">
  </div>
  <div class="input-container">
    <span class="descrition">GTIN*</span>
    <input type="text" placeholder="Informe os dados para o campo GTIN" name="descricaoInput" [(ngModel)]="gtin">
  </div>
  <div class="input-container">
    <span class="name">Valor*</span>
    <input type="number" placeholder="Informe os dados para o campo Valor" name="nomeInput" [(ngModel)]="valor">
  </div>
  <div class="input-container">
    <span class="name">Data de cadastro*</span>
    <input type="date" placeholder="Informe os dados para o campo Nome" name="nomeInput" [(ngModel)]="dataCadastro">
  </div>
  <div class="field">
    <span>*field is mandatory</span>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="buttonsContainer">
  <button mat-dialog-close class="x"><mat-icon fontIcon="cancel"></mat-icon></button>
  <button cdkFocusInitial class="y" (click)="clickConfirm()"><mat-icon fontIcon="check"></mat-icon></button>
</mat-dialog-actions>