<div id="body">
  <h1>Produtos</h1>
  <mat-card>
    <mat-card-content>

      <!--INSERIR EM TABLE[dataSource]="marca"-->
      <table mat-table class="mat-elevation-z8">
        <tr>
          <td>

          </td>
        </tr>
      </table>
      <div class="button">
        <button class="insertButton" (click)="openDialog('0ms', '0ms')">+</button>
      </div>
      <!--BOTOES TESTE-->
      <button class="insertButton" (click)="openDialogEdit('0ms', '0ms')">+</button>
      <button class="insertButton" (click)="openDialogExclude('0ms', '0ms')">+</button>

    </mat-card-content>
  </mat-card>
</div>