<h2 mat-dialog-title>Produto Unidade - Editando</h2>
<mat-dialog-content>
  <div class="input-container">
    <span class="name">Id</span>
    <input type="text" class="disabledInput" value="59f28fd7" disabled [(ngModel)]="id">
  </div>
  <div class="input-container">
    <span class="name">Sigla*</span>
    <input type="text" placeholder="Informe os dados para o campo Nome" name="nomeInput" [(ngModel)]="sigla">
  </div>
  <div class="input-container">
    <span class="descrition">Descrição*</span>
    <input type="text" placeholder="Informe os dados para o campo Descrição" name="descricaoInput" [(ngModel)]="desc">
  </div>
  <div class="field">
    <span>*field is mandatory</span>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="buttonsContainer">
  <button mat-dialog-close class="x"><mat-icon fontIcon="cancel"></mat-icon></button>
  <button cdkFocusInitial class="y" (click)="clickConfirm()"><mat-icon fontIcon="check"></mat-icon></button>
</mat-dialog-actions>