<h2 mat-dialog-title>Produto Marca - Editando</h2>
<mat-dialog-content>
  <div class="input-container">
    <span class="Id">Id</span>
    <input type="text" class="disabledInput" value="59f28fd7" disabled>
  </div>
  <div class="input-container">
    <span class="name">Nome*</span>
    <input type="text" placeholder="Informe os dados para o campo Nome" name="nomeInput">
  </div>
  <div class="input-container">
    <span class="descrition">Descrição*</span>
    <input type="text" placeholder="Informe os dados para o campo Descrição" name="descricaoInput">
  </div>
  <div class="field">
    <span>*field is mandatory</span>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="buttonsContainer">
  <button mat-dialog-close class="x"><mat-icon>cancel</mat-icon></button>
  <button mat-dialog-close cdkFocusInitial class="y"><mat-icon>check</mat-icon></button>
</mat-dialog-actions>