<h2 mat-dialog-title>Produto Subgrupo - Inserindo</h2>
<mat-dialog-content>
  <div class="input-container">
    <span class="options">Id Produto Grupo</span>
    <select id="opcoes" class="full-width-select">
      <option value="opcao1">Opção 1</option>
      <option value="opcao2">Opção 2</option>
      <option value="opcao3">Opção 3</option>
    </select>
  </div>
  <div class="input-container">
    <span class="name">Nome</span>
    <input type="text" placeholder="Informe os dados para o campo Nome" name="nomeInput">
  </div>
  <div class="input-container">
    <span class="descrition">Descricao</span>
    <input type="text" placeholder="Informe os dados para o campo Descrição" name="descricaoInput">
  </div>
  <div class="field">
    <span>*field is mandatory</span>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="buttonsContainer">
  <button mat-dialog-close class="x"><mat-icon aria-hidden="false" aria-label="excluir"
      fontIcon="highlight_off"></mat-icon></button>
  <button mat-dialog-close cdkFocusInitial class="y"><mat-icon aria-hidden="false" aria-label="done"
      fontIcon="done"></mat-icon></button>
</mat-dialog-actions>