* {
  margin: 0;
  padding: 0;
}

mat-list-item:active {
  background-color: rgba(149, 149, 149, 0.819);
}

#nav {
  display: flex;
  justify-content: space-between;
}

#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.example-container {
  width: 100%;
}

.lista {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.home {
  display: flex;
  align-items: center;
  margin: 5px 0;
  gap: 5px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 22%;
}

mat-icon {
  cursor: pointer;
}

#greySidebar {
  width: 100%;
  color: grey;
  padding: 10px;
  margin-left: 5%;
  margin-bottom: 0;
}

#border {
  width: 100%;
  border-top: 1px solid lightgray;
  margin: 0;
}

p {
  font-size: 12px;
}

.produtos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.menu-button {
  display: none;
}

@media (max-width: 1030px) {
  .menu-button {
    display: block;
    position: relative;
  }
  .produtos {
    position: fixed;
    margin: 50px;
  }
  .produtos img {
    display: none;
  }
}