<div class="container">
  <div id="body">
    <h1>Produto Unidade</h1>
    <mat-card>
      <mat-card-content>

        <!--INSERIR EM TABLE[dataSource]="marca"-->
        <table mat-table class="mat-elevation-z8">
          <tr>
            <td>

            </td>
          </tr>
        </table>
        <div class="button">
          <button class="insertButton" (click)="openDialog('0ms', '0ms')">+</button>
        </div>
        <!--BOTOES TESTE-->
        <button class="insertButton1" (click)="openDialogEdit('0ms', '0ms')"><mat-icon>edit</mat-icon></button>
        <button class="insertButton2" (click)="openDialogExclude('0ms', '0ms')"><mat-icon>delete</mat-icon></button>

      </mat-card-content>
    </mat-card>
  </div>
</div>
