* {
  margin: 10px;
}

#body {
  height: 100vh;
  width: 70vw;}

table {
  margin: 10px;
}


.button {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.insertButton {
  font-size: 30px;
  color: #fff;
  box-shadow: 1px 1px 1px 1px #cacaca;
  height: 50px;
  width: 50px;
  background-color: rgb(28, 155, 151);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}
.insertButton1 {
  box-shadow: 1px 1px 1px 1px #cacaca;
  height: 40px;
  width: 40px;
  background-color: rgb(10, 150, 226);
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}
.insertButton2 {
  box-shadow: 1px 1px 1px 1px #cacaca;
  height: 40px;
  width: 40px;
  background-color: rgb(226, 14, 10);
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}
mat-icon {
  margin: -5px;
  color: white;
}

mat-card {
  max-width: 98%;
  border: 1px solid lightgrey;
}

.container {
  max-height: 85vh;
  overflow-y: scroll;
}
.container::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
.container::-webkit-scrollbar-thumb {
  background-color: rgb(186, 186, 186);
  border-radius: 4px;
}