<h2 mat-dialog-title>Produtos - Editando</h2>
<mat-dialog-content>
  <div class="input-container">
    <span class="options">Subgrupo</span>
    <select id="opcoes" class="full-width-select" disabled>
      <option value="opcao1">Opção 1</option>
      <option value="opcao2">Opção 2</option>
      <option value="opcao3">Opção 3</option>
    </select>
  </div>
  <div class="input-container">
    <span class="options">Marca</span>
    <select id="opcoes" class="full-width-select" disabled>
      <option value="opcao1">Opção 1</option>
      <option value="opcao2">Opção 2</option>
      <option value="opcao3">Opção 3</option>
    </select>
  </div>
  <div class="input-container">
    <span class="options">Unidade</span>
    <select id="opcoes" class="full-width-select" disabled>
      <option value="opcao1">Opção 1</option>
      <option value="opcao2">Opção 2</option>
      <option value="opcao3">Opção 3</option>
    </select>
  </div>
  <div class="input-container">
    <span class="Id">Id</span>
    <input type="text" class="disabledInput" value="59f28fd7" disabled>
  </div>
  <div class="input-container">
    <span class="name">Nome*</span>
    <input type="text" placeholder="Informe os dados para o campo Nome" name="nomeInput">
  </div>
  <div class="input-container">
    <span class="descrition">GTIN*</span>
    <input type="text" placeholder="Informe os dados para o campo GTIN" name="descricaoInput">
  </div>
  <div class="input-container">
    <span class="descrition">Valor*</span>
    <input type="number" placeholder="Informe os dados para o campo Valor" name="descricaoInput">
  </div>
  <div class="input-container">
    <span class="descrition">Data de cadastro*</span>
    <input type="date" name="descricaoInput">
  </div>
  <div class="field">
    <span>*field is mandatory</span>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="buttonsContainer">
  <button mat-dialog-close class="x"><mat-icon fontIcon="cancel"></mat-icon></button>
  <button mat-dialog-close cdkFocusInitial class="y"><mat-icon fontIcon="check"></mat-icon></button>
</mat-dialog-actions>