<div class="container">
    <h1>Dashboard</h1>
    <!--3 CARDS DE ESTATÍSTICAS-->
    <div class="content">
        <mat-card class="card">
            <mat-card-content>
            <img class="image" src="/assets/trafic.png" alt="">
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-content>
                <img class="image" src="/assets/users.png" alt="">
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-content>
                <img class="image" src="/assets/trafic.png" alt="">
            </mat-card-content>
        </mat-card>
    </div>
    <!--CARDS GRÁFICOS-->
    <mat-card class="card2">
        <mat-card-content>
        <img id="img1" src="/assets/chart.png" alt="">
        <img id="img2" src="/assets/graph.png" alt="">
        </mat-card-content>
    </mat-card>
</div>