<h2 mat-dialog-title>Produto Subgrupo - Editando</h2>
<mat-dialog-content>
  <div class="input-container">
    <span class="options">Grupo</span>
    <select id="opcoes" class="full-width-select" [(ngModel)]="selectedGrupo" disabled>
      <option *ngFor="let grupo of grupos" [value]="grupo.id">{{ grupo.nome }}</option>
    </select>
  </div>

  <div class="input-container">
    <span class="Id">Id</span>
    <input type="text" class="disabledInput" value="59f28fd7" disabled [(ngModel)]="id">
  </div>

  <div class="input-container">
    <span class="name">Nome*</span>
    <input type="text" placeholder="Informe os dados para o campo Nome" name="nomeInput" [(ngModel)]="nome">
  </div>

  <div class="input-container">
    <span class="descrition">Descrição*</span>
    <input type="text" placeholder="Informe os dados para o campo Descrição" name="descricaoInput" [(ngModel)]="desc">
  </div>

  <div class="field">
    <span>*field is mandatory</span>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="buttonsContainer">
  <button mat-dialog-close class="x"><mat-icon fontIcon="cancel"></mat-icon></button>
  <button cdkFocusInitial class="y" (click)="clickConfirm()"><mat-icon fontIcon="check"></mat-icon></button>
</mat-dialog-actions>